<!DOCTYPE html>
<html>
<head>
  <title>TbkApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= link_to 'Producto', products_path %>
    <%= link_to 'Clientes', users_path %>
    <%= link_to 'orden', orders_path %>
    <%= link_to 'detalles', order_details_path %>
    <%= link_to 'Estados transacciones', operation_states_path %>
    <%= yield %>

</body>
</html>
